<ion-header>
  <ion-toolbar>
    <ion-title>zonePage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <strong>Where are you sitting in the classroom ?</strong>
    <div>
      <ion-grid style="width: 50%">
        <ion-row>
          <ion-col>
            <button
              [ngClass]="{ 'active' : isValue == 1 }"
              (click)="toggle(1)"
              type="button"
              color="light"
              style="width: 100%; height: 150px"
            >
              
            </button>
          </ion-col>
          <ion-col>
            <button
              [ngClass]="{ 'active' : isValue == 2 }"
              (click)="toggle(2)"
              type="button"
              color="light"
              style="width: 100%; height: 150px"
            >
              
            </button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button
              [ngClass]="{ 'active' : isValue == 3 }"
              (click)="toggle(3)"
              type="button"
              color="light"
              style="width: 100%; height: 150px"
            >
              
            </button>
          </ion-col>
          <ion-col>
            <button
              class="btn btn-secondary"
              [ngClass]="{ 'active' : isValue == 4 }"
              (click)="toggle(4)"
              type="button"
              color="light"
              style="width: 100%; height: 150px"
            >
              
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-button href="/first-question">NEXT</ion-button>
  </div>
</ion-content>
