<ion-header>
  <ion-toolbar>
    <ion-title>ThirdQuestion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="answers">
    <ion-list style="width: 60%; margin: auto">
      <ion-radio-group value="biff">
        <ion-list-header>
          <ion-label>How do you feel right now? ( Humidity )</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Very Dry</ion-label>
          <ion-radio slot="start" value="1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Too Dry</ion-label>
          <ion-radio slot="start" value="2"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Dry</ion-label>
          <ion-radio slot="start" value="3"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Damp</ion-label>
          <ion-radio slot="start" value="4"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Too Damp</ion-label>
          <ion-radio slot="start" value="5"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Very Damp</ion-label>
          <ion-radio slot="start" value="6"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-button color="success">SUBMIT</ion-button>
  </div>
</ion-content>
