<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Mental Shower </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong>Select your class:</strong>
    <div class="divlist">
      <ion-select placeholder="Choose your class" class="selectClass">
        <ion-select-option value="D.3.05" disabled="false"
          >D.3.05</ion-select-option
        >
        <ion-select-option value="D.3.06" disabled="false"
          >D.3.06</ion-select-option
        >
      </ion-select>
    </div>
    <div class="selectZone">
      <strong>Where are you sitting in the classroom ?</strong>
      <div>
        <ion-grid style="width: 35%">
          <ion-row>
            <ion-col>
              <button
                [ngClass]="{ 'active' : isValue == 1 }"
                (click)="toggle(1)"
                type="button"
                color="light"
                style="width: 150px; height: 150px"
              ></button>
            </ion-col>
            <ion-col>
              <button
                [ngClass]="{ 'active' : isValue == 2 }"
                (click)="toggle(2)"
                type="button"
                color="light"
                style="width: 150px; height: 150px"
              ></button>
            </ion-col>
            <ion-col>
              <button
                [ngClass]="{ 'active' : isValue == 3 }"
                (click)="toggle(3)"
                type="button"
                color="light"
                style="width: 150px; height: 150px"
              ></button>
            </ion-col>
            <ion-col>
              <button
                [ngClass]="{ 'active' : isValue == 4 }"
                (click)="toggle(4)"
                type="button"
                color="light"
                style="width: 150px; height: 150px"
              ></button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <button
                [ngClass]="{ 'active' : isValue == 5 }"
                (click)="toggle(5)"
                type="button"
                color="light"
                style="width: 150px; height: 150px"
              ></button>
            </ion-col>
            <ion-col>
              <button
                class="btn btn-secondary"
                [ngClass]="{ 'active' : isValue == 6 }"
                (click)="toggle(6)"
                type="button"
                color="light"
                style="width: 150px; height: 150px"
              ></button>
            </ion-col>
            <ion-col>
              <button
                [ngClass]="{ 'active' : isValue == 7 }"
                (click)="toggle(7)"
                type="button"
                color="light"
                style="width: 150px; height: 150px"
              ></button>
            </ion-col>
            <ion-col>
              <button
                class="btn btn-secondary"
                [ngClass]="{ 'active' : isValue == 8 }"
                (click)="toggle(8)"
                type="button"
                color="light"
                style="width: 150px; height: 150px"
              ></button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <ion-button (click)="nextPage()">NEXT</ion-button>
    </div>
  </div>
</ion-content>
